<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/main.css")
    title #{docTitle}
  body
    header
      nav
        a(href="/") Shop
        a(href="/add-product") Add product
    main
      h1 Add a new product
      form(action="/add-product", method="POST")
        input(type="text", name="name", placeholder="Product name")
        input(type="number", name="price", placeholder="Price")
        input(type="number", name="stock", placeholder="Stock")
        button(type="submit") Add
