<header>
  <nav>
    <a href="/" class="<% path === '/' ? 'active' : '' %>">Shop</a>
    <a href="/add-product" class="<% path === '/add-product' ? 'active' : '' %>">Add product</a>
  </nav>
</header>