/* Styling is done in a pretty bad and fast way, this is a nodejs training */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  height: 68px;
  background-color:#53a290;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: black;
  padding: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff8f8;
  font-size: 1.2rem;
}

a:not(.active):hover {
  background-color: #51c0a6;
}

a.active {
  color: #11429e;
}

main {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin-bottom: 1rem;
  text-align: center;
}

form {
  width: 30%;
  margin: 0 auto;
}

input {
  border: none;
  background-color: #b1f7e6;
  padding: .5rem;
  font-size: 1.1rem;
  outline: none;
  display: block;
  margin: .5rem 0;
  width: 100%;
  border-radius: 3px;
}

button {
  border: none;
  padding: .5rem 2rem;
  border-radius: 3px;
  background-color: #a5dd0bb0;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}

button:hover {
  background-color: #bafa09b0;
}

.product {
  text-align: left;
  width: 200px;
  margin: 2rem auto;
  background-color: #bafa09b0;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 3px;
  box-shadow: 1px 1px 4px -1px black;
}

.product h2 {
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 2rem;
}

.product__footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}
