<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
        href="/css/main.css">
  <title>Add product</title>
</head>

<body>
  <header>
    <nav>
      <a href="/">Shop</a>
      <a href="/add-product">Add product</a>
    </nav>
  </header>
  <main>
    <h1>Add a new product</h1>
    <form method="POST"
          action="/add-product">
      <input type="text"
             name="productName" />
      <button type="submit">Add</button>
    </form>
  </main>
</body>

</html>