extends ../main-layout.pug

block content
  h1 Add a new product
  form(action="/admin/add-product", method="POST")
    input(type="text", name="name", placeholder="Product name")
    input(type="text", name="imageURL", placeholder="Image URL")
    input(type="number", name="price", placeholder="Price")
    input(type="number", name="stock", placeholder="Stock")
    button(type="submit") Add
